section p
{
  color: red;
}
section > p
{
    color: orange;
}
/*adjacent sibling + select all immediate element*/
/*selects immediately*/
h1 + p
{
    color: yellow;
    background-color:blue;
}
/*selects all sibling placed after specified element*/
h1 ~ p
{
   background-color:brown;
}
/*h1 > p
{
    background-color: antiquewhite;
}