.attribution {
  display: block;
  font-size: 12px;
  margin: auto;
  text-align: center;
  width: 80%;
  
}
.accessibility {
  padding: 3em 0;
  text-align: center;
}
.accessibility h3 {
  font-size: 2.2rem;
}
.accessibility p {
  line-height: 1.6em;
  margin: 1.2em auto 5em;
}

body {
  color: #9fabb2;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  max-width: 1440px;
  margin: auto;
}
.brands {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 5em 0;
  width: 80%;
 
}
.brands .brand img {
  margin: auto;
  width: 90%;
}

.brands {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 0;
}
.brands .brand img {
  margin: 1em auto;
  width: 100%;
}

.container {
  max-width: 80%;
  margin: auto;
}
.download_btn {
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
}

.feature-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
  margin-left: 17%;
  width: 54%;
  
}
.feature h5 {
  font-size: 1.5rem;
}
.feature p {
  line-height: 1.8em;
  margin-top: 0.5em;
}

footer .container {
  display: block;
  text-align: center;
}
.footer-menu {
  display: block;
  text-align: center;
}
.footer-menu {
  padding: 2em 0;
}
.f-menu {
  width: 100%;
}
footer {
  background-color: #f5f6f8;
  padding: 2.7em 0;
}
footer .container {
  align-items: center;
  display: flex;
}
.footer-logo {
  flex: 0 0 18%;
}

.footer-logo img {
  width: 60px;
}
.footer-menu {
  flex: 1;
  display: flex;
}
.f-menu {
  width: 25%;
}
.f-menu a {
  color: #000;
  display: block;
  line-height: 2em;
  text-decoration: none;
}
.f-menu a:hover {
  color: hsl(171, 66%, 44%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}
header {
  background-image: url(../challenges/downloads/clipboard-landing-page-master/images/bg-header-desktop.png),
  linear-gradient(0deg, rgba(255, 255, 255, 0.5324511201839882) 21%,rgba(159, 171, 178, 0.8125814133435973) 100%);
  background-size: cover;
  background-position: center center;
  padding: 6em 0;
  text-align: center;
}
.install .small-container {
  max-width: 750px;
  padding: 3em 0 9em;
}
.keep-track {
  padding: 3em 0;
}
.keep-track > h3 {
  font-size: 2.2rem;
}
.keep-track > p {
  line-height: 1.6em;
  margin: 1.2em auto 5em;
}
.lower {
  display: flex;
}
.lower-left img {
  width: 100%;
}
main .showcase {
  margin-top: -40px;
  padding-bottom: 4em;
  text-align: center;
  
}
.one {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0px 3px hsla(171, 64%, 33%, 0.789);
}
.para h2 {
  font-size: 2.7rem;
  font-weight: 600;
}
.para p {
  font-size: 1.4rem;
  line-height: 1.4em;
  margin: 1em auto 2em;
}
.para h3 {
  font-size: 2.4rem;
  font-weight: 600;
}
.para p {
  font-size: 1.2rem;
  line-height: 1.4em;
  margin: 1em auto 2em;
}

.social-icons {
  flex: 0 0 14%;
}
.small-container {
  max-width: 700px;
  margin: auto;
  text-align: center;
 
}
.social-icons a {
  display: block;
  float: right;
  text-align: right;
  width: 33.33%;
}
.social-icons i:hover {
  color: hsl(171, 66%, 44%);
}
.two {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0px 3px hsla(233, 66%, 60%, 0.462);
}
.tools {
  padding: 1em 0 3em;
  text-align: center;
}
.tools h3 {
  font-size: 2.2rem;
}
.tools > p {
  margin: 1.2em auto 3.8em;
}
.tools .container {
  display: flex;
  justify-content: space-between;
}
.tool {
  flex: 0 0 32%;
}
.tool h5 {
  font-size: 1.5rem;
  margin: 1.5em 0 0.5em;
}
.tool p {
  line-height: 1.7em;
}
@media screen and (max-width: 920px) {
  .accessibility img {
    margin: auto;
    width: 60%;
  }
  .lower {
    align-items: center;
  }
  .lower-left img {
    height: 200%;
  }
  .feature-container {
    margin-left: 8%;
    width: 70%;
  }
}

@media screen and (max-width: 760px) {
  body {
    font-size: 17px;
  }
  .container,
  .small-container,
  .install .small-container,
  .tools h3,
  .tools > p {
    max-width: 80%;
    margin: auto;
  }
  .lower {
    flex-direction: column;
    text-align: center;
  }
  .lower {
    display: flex;
  }
  .lower-left img {
    margin-bottom: 2em;
    width: 60%;
  }
  .feature-container {
    width: 60%;
    margin: auto;
  }
  .feature {
    margin-bottom: 1.1em;
  }
  .tools > p {
    margin: 1.2em auto 3.8em;
  }
  .tools .container {
    flex-direction: column;
    width: 60%;
  }
  .tools :nth-child(2) img {
    margin-top: 4em;
  }
  .tools :nth-child(2) p {
    margin-bottom: 4em;
  }
  .social-icons {
    flex: 0 0 22%;
  }
  .footer-menu {
    flex: 1;
    justify-content: space-between;
  }
  .f-menu {
    width: 33%;
  }
}
@media screen and (max-width: 500px) {
  .para h2,
  .para h3 {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .download_btn {
    display: block;
  }
  .download .one {
    margin-bottom: 1em;
  }
  .feature-container {
    margin: auto;
    width: 80%;
  }
  .tools .container {
    flex-direction: column;
    width: 70%;
  }
  
    .social-icons {
    display: flex;
    justify-content: center;
  }
  .social-icons a {
    display: block;
    float: none;
    flex: 0 0 20%;
    text-align: center;
  }
}
