@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #dedfe1;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 780px;
  height: 400px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img-container {
  width: 40%;
  height: 100%;
  float: left;
  position: relative;
}

.img-container img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.content {
  width: 60%;
  height: 100%;
  float: left;
  padding: 30px 40px;
  box-sizing: border-box;
}

.head {
  padding-bottom: 30px;
}

.head p {
  font-size: 28px;
  color: #444444;
  font-weight: 600;
}

.head span {
  color: #aaabaf;
  font-size: 14px;
}

.data {
  width: 90%;
  overflow: hidden;
}

.inner-data {
  width: 70%;
  float: left;
  text-align: left;
  color: #aaabaf;
}

.inner-data p {
  font-size: 14px;
  padding-bottom: 5px;
}

.inner-data span {
  font-size: 18px;
  font-weight: 400;
}

.img-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 30px solid #1da1f2;
  border-right: 30px solid transparent;
  border-top: 30px solid #1da1f2;
  border-bottom: 30px solid transparent;
  cursor: pointer;
  border-top-left-radius: 5px;
}

.img-container:after {
  font-family: fontawesome;
  content: "\f099";
  position: absolute;
  top: 10px;
  left: 12px;
  color: #fff;
  font-size: 18px;
}

.floating-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 38%;
  right: -5%;
  background: #1da1f2;
  border-radius: 50%;
  cursor: pointer;
}

.floating-icon .fa {
  position: absolute;
  left: 18px;
  top: 15px;
  color: #fff;
  font-size: 20px;
  transition: all 1s ease;
}

.floating-icon.active .fa {
  transform: rotate(45deg);
  transition: all 1s ease;
}

.btn {
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
  font-size: 12px;
  background: #1da1f2;
  padding: 6px 15px;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  opacity: 0;
  transition: all 1s ease;
  cursor: pointer;
}

.btn.active {
  opacity: 1;
}
